net/Web References/hsqzfWebService/GetCaseList.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCList">
        <s:complexType />
      </s:element>
      <s:element name="GetCListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpStateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMydContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="caseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mydtype" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMydContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMydContentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCListSoapIn">
    <wsdl:part name="parameters" element="tns:GetCList" />
  </wsdl:message>
  <wsdl:message name="GetCListSoapOut">
    <wsdl:part name="parameters" element="tns:GetCListResponse" />
  </wsdl:message>
  <wsdl:message name="UpStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpState" />
  </wsdl:message>
  <wsdl:message name="UpStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpStateResponse" />
  </wsdl:message>
  <wsdl:message name="AddMydContentSoapIn">
    <wsdl:part name="parameters" element="tns:AddMydContent" />
  </wsdl:message>
  <wsdl:message name="AddMydContentSoapOut">
    <wsdl:part name="parameters" element="tns:AddMydContentResponse" />
  </wsdl:message>
  <wsdl:portType name="GetCaseListSoap">
    <wsdl:operation name="GetCList">
      <wsdl:input message="tns:GetCListSoapIn" />
      <wsdl:output message="tns:GetCListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpState">
      <wsdl:input message="tns:UpStateSoapIn" />
      <wsdl:output message="tns:UpStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddMydContent">
      <wsdl:input message="tns:AddMydContentSoapIn" />
      <wsdl:output message="tns:AddMydContentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetCaseListSoap" type="tns:GetCaseListSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCList">
      <soap:operation soapAction="http://tempuri.org/GetCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpState">
      <soap:operation soapAction="http://tempuri.org/UpState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMydContent">
      <soap:operation soapAction="http://tempuri.org/AddMydContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetCaseListSoap12" type="tns:GetCaseListSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCList">
      <soap12:operation soapAction="http://tempuri.org/GetCList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpState">
      <soap12:operation soapAction="http://tempuri.org/UpState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMydContent">
      <soap12:operation soapAction="http://tempuri.org/AddMydContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetCaseList">
    <wsdl:port name="GetCaseListSoap" binding="tns:GetCaseListSoap">
      <soap:address location="http://10.104.25.16/hs_sv_myd/GetCaseList.asmx" />
    </wsdl:port>
    <wsdl:port name="GetCaseListSoap12" binding="tns:GetCaseListSoap12">
      <soap12:address location="http://10.104.25.16/hs_sv_myd/GetCaseList.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>